@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}
@mixin size {
  width: 100%;
  height: auto;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  @include center;
  flex-direction: row;
  color: #2c2c2c;
  font-size: 20px;
  background-color: #ffffff;
}
main {
  @include center;
  min-height: 100vh;
  position: sticky;
  flex-direction: column;
}
footer {
  @include center;
  flex-direction: row;
  color: #2c2c2c;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 10;
}
h1 {
  font-size: 28px;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: #2b2b2b;
    transition: all;
  }
}
#home {
  @include center;
  color: #2c2c2c;
  @include size;
  z-index: 1;
  background-color: #fafafa;
  position: sticky;
  top: 0;
  min-height: 100vh;
}

#about {
  @include center;
  @include size;
  z-index: 2;
  flex-direction: column;
  color: #2c2c2c;
  background-color: #f7f7f7;
  position: sticky;
  top: 0;
  min-height: 100vh;
}

#tech-stack {
  @include center;
  @include size;
  z-index: 3;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #2c2c2c;
  position: sticky;
  top: 0;
  min-height: 100vh;
}
.svg-logo {
  height: 50%;
  width: 50%;
}
img {
  max-width: 25%;
  width: auto;
}
.svg-section {
  @include center;
  gap: 48px;
}

.github-logo {
  height: 35px;
  width: 150px;
}
span {
  font-size: 64px;
}
p {
  font-size: 20px;
}
